@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: rgb(0, 144, 180);
    --secondary-color: rgb(77, 77, 77);
    --teriary-color: rgb(102, 102, 102);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.pad-left {
    padding-left: 10%;
}

.text-white {
    color: white;
    font-size: 20px;
    font-family: "Roboto";
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}
.grid-item {
    border: solid 2px black;
}

.dashboard {
    background-color: var(--main-color);
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(11, 5vh);
    row-gap: 2vh;
}
.profile {
    background-color: var(--secondary-color);
    grid-column: 2 / 6;
}
.content {
    background-color: var(--teriary-color);
    grid-row: 2 / 6;
    grid-column: 2 / 6;
}