@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: rgb(0, 181, 226);
    --secondary-color: rgb(226, 226, 226);
    --teriary-color: rgb(214, 213, 213);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.pad-left {
    padding-left: 2vw;
}
.pad-top {
    padding-top: 2vh;
}

.text-white {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-black {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inline-img {
    padding-right: 0.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}
.grid-item {
    border: solid 2px black;
}

.dashboard {
    background-color: var(--main-color);
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(12, 5vh);
    row-gap: 1vh;
}
.profile {
    background-color: var(--tiertiary-color);
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.search-wrap, .profile-head {
    grid-column: 1 / 3;
}
.search {
    background-color: var(--teriary-color);
    border: none;
    height: 30px;
    width: 75%;
    border-radius: 30px;
    text-indent: 15px !important;
}
.profile-btns {
    display: flex;
    justify-content: space-evenly;
}
.profile-btns > button {
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 100px;
}

.content {
    background-color: var(--secondary-color);
    grid-row: 2 / 6;
    grid-column: 2 / 6;
}